<div class="container">
  <div class="card border-primary">
    <div>
      <div class="card-header text-white bg-primary mb-3">My Preferred Shops</div>
      <div class="card-body ">
        <h3 class="text-center text-danger" *ngIf="error">{{error}}</h3>
        <h3 class="text-center" *ngIf="loading==1 && !error">Loading Please Wait ...</h3>
        <div class="row">
          <div *ngFor="let shop of likedShops;let i=index" class="col-md-3">
            <div class="card">
              <div class="card-header text-white bg-primary mb-3">{{shop.name}}</div>
              <div class="card-body">
                <p class="row"><img class="col-12" style="max-height: 220px" src="{{shop.imageUrl}}"></p>
              </div>
              <div class="card-footer bg-transparent border-light text-center">
                <button class="btn btn-danger" style="margin-right: 40px" (click)="onRemove(shop.id,i)">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <!--<ul class="pagination">
          <li [ngClass]="{'active':currentPage==(i+1)}" class="page-item" *ngFor="let page of thePages;let i=index"><a class="page-link" (click)="goToPage(i)">{{i}}</a></li>
        </ul>-->
      </div>

    </div>
  </div>
</div>
